c331033김윤진

# iterable 컴프리헨션

In [46]:
nums_comp = [num+10 for num in range(1, 6)]
print(f'{nums_comp = }')

nums_comp = [11, 12, 13, 14, 15]

In [47]:
nums_for =[]

for num in range(1, 6):
 
    nums_for.append(num+10)

print(f'{nums_for = }')

nums_for = [11, 12, 13, 14, 15]

In [48]:
def add_ten(num):
    return num + 10

add_ten(5)

15

In [49]:
map(add_ten, [1, 2, 3, 4, 5])

In [50]:
list(map(add_ten, [1, 2, 3, 4, 5]))

[11, 12, 13, 14, 15]

In [51]:
nums_map = list(map(add_ten, range(1, 6)))
print(f'{nums_map = }')

nums_map = [11, 12, 13, 14, 15]

In [52]:
nums_math = [num*2-1 for num in range(1, 6)]
print(f'{nums_math = }')

nums_math = [1, 3, 5, 7, 9]

In [53]:
def addString(x):
    return 'Int_' + str(x)

nums_func = [addString(num) for num in range(1, 6)]
print(f'{nums_func = }')

nums_func = ['Int_1', 'Int_2', 'Int_3', 'Int_4', 'Int_5']

In [54]:
nums_odds = [num for num in range(1, 6) if num % 2 == 1]
print(f'{nums_odds = }')

nums_odds = [1, 3, 5]

In [55]:
nums_odds_zero = [num if num % 2 == 1 else 0 for num in range(1, 6)]
print(f'{nums_odds_zero = }')

nums_odds_zero = [1, 0, 3, 0, 5]

In [56]:
nums_odds_less4 = [num for num in range(1, 6) if num % 2 == 1 if num < 4]
print(f'{nums_odds_less4 = }')

nums_odds_less4 = [1, 3]

In [57]:
nums_pairs = [(x,y) for x in range(1, 3) for y in ['a', 'b', 'c']]
print(f'{nums_pairs = }')

nums_pairs = [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

In [58]:
num_pairs_sum5 = [(x,y) for x in range(1, 6) for y in range(1, 6) if x+y==5]
print(f'{num_pairs_sum5 = }')

num_pairs_sum5 = [(1, 4), (2, 3), (3, 2), (4, 1)]

In [59]:
ids = [1, 2, 3, 4]
student_names = ['김홍익', '이컴프리', '박헨션', '최딕선']

students_for = {id:name for id in ids for name in student_names}

print(f'{students_for = }')

students_for = {1: '최딕선', 2: '최딕선', 3: '최딕선', 4: '최딕선'}

In [60]:
student_names = ['김홍익', '이컴프리', '박헨션', '최딕선']

students_enumerate = {id:name for id, name in enumerate(student_names)}
print(f'{students_enumerate = }')

students_enumerate = {0: '김홍익', 1: '이컴프리', 2: '박헨션', 3: '최딕선'}

In [61]:
ids = [1, 2, 3, 4]
student_names = ['김홍익', '이컴프리', '박헨션', '최딕선']

students_zip = {id:name for id, name in zip(ids, student_names)}

print(f'{students_for = }')

students_for = {1: '최딕선', 2: '최딕선', 3: '최딕선', 4: '최딕선'}

In [62]:
sum_list = [x+y for x in range(1, 6) for y in range(1, 6)]

print(f'{sum_list = }\n')

sum_set = {x+y for x in range(1, 6) for y in range(1, 6)}

print(f'{sum_set = }')

sum_list = [2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 6, 7, 8, 9, 10]

sum_set = {2, 3, 4, 5, 6, 7, 8, 9, 10}

In [63]:
nums_pairs_list = [(x,y) for x in range(1, 3) for y in ['a', 'b', 'c']]

print(f'{nums_pairs_list = }\n')

nums_pairs_tuple = ((x,y) for x in range(1, 3) for y in ['a', 'b', 'c'])

print(f'{nums_pairs_tuple = }')

print(f'{tuple(nums_pairs_tuple) = }\n')

nums_pairs_tuple2 = tuple((x,y) for x in range(1, 3) for y in ['a', 'b', 'c'])
print(f'{nums_pairs_tuple2 = }')

nums_pairs_list = [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

nums_pairs_tuple = <generator object <genexpr> at 0x000001D0E2EA8740>
tuple(nums_pairs_tuple) = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

nums_pairs_tuple2 = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

# 추가학습내용

def add_ten(num):
    return num + 10

add_ten('a')는 에러, 문자열 'a'와 정수 10을 더할 수 없기 때문

In [64]:
def add_ten(num):
    return num + 10

add_ten(15)

25

15에 10을 더해 25를 반환

def add_ten(num):
    return num + 10

add_ten([1,2,3])에러, 리스트 [1, 2, 3]에 정수 10을 더하려 해 TypeError가 발생

In [65]:
def add_ten(num):
    return num + 10

add_ten(15.0)

25.0

실수 15.0에 10을 더해 25.0을 반환

In [66]:
zip([1,2,3], [4,5,6])

In [67]:
list(zip([1,2,3], [4,5,6]))

[(1, 4), (2, 5), (3, 6)]

리스트를 가져야 값을 반환함.

In [68]:
nums_math = [num%2 for num in range(1, 6)]
print(f'{nums_math = }')

nums_math = [1, 0, 1, 0, 1]

1,2,3,4,5를 2로 나눈 나머지로 출력

In [69]:
list(map(addString, range(1,6)))

['Int_1', 'Int_2', 'Int_3', 'Int_4', 'Int_5']

1부터 5까지의 숫자를 addString = lambda x: '숫자: ' + str(x)에 각각 적용

In [70]:
['Int_'+str(num) for num in range(1,6)]

['Int_1', 'Int_2', 'Int_3', 'Int_4', 'Int_5']

1,2,3,4,5에 'Int_'를 붙여 생성.

In [71]:
nums_odds = [num for num in range(1, 6) if num % 2 == 0]
print(f'{nums_odds = }')

nums_odds = [2, 4]

1부터 5까지 숫자 중 짝수만 골라 출력.

In [72]:
nums_odds = [num for num in range(1, 60) if num % 3 == 0]
print(f'{nums_odds = }')

nums_odds = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

1부터 59까지 숫자 중 3의배수만 골라 출력.

In [73]:
'a' in 'abcde'

True

'a'가 'abcde'에 포함되어 있으므로 True를 반환

In [74]:
'A' in 'abcde'

False

'A'가 'abcde'에 포함되어 있지않으므로 False를 반환

In [75]:
[ch for ch in 'AaBbCcDdEe' if ch in 'ABCDE']

['A', 'B', 'C', 'D', 'E']

'AaBbCcDdEe'에서 'A', 'B', 'C', 'D', 'E'에 해당하는 문자만 골라 출력.

In [76]:
[ch if ch in 'ABCDE' else 0 for ch in 'AaBbCcDdEe']

['A', 0, 'B', 0, 'C', 0, 'D', 0, 'E', 0]

'AaBbCcDdEe'에서 'A', 'B', 'C', 'D', 'E'에 해당하면 그대로, 아니면 0으로 출력.

In [77]:
dir('AaBbCcDdEe')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

문자열 객체가 가지고 있는 모든 속성과 메서드의 목록을 리스트로 반환

In [78]:
'AaBbCcDdEe'.find('c')

5

'c'의 위치를 찾아 5을 반환

In [79]:
'AaBbCcDdEe'.find('a')

1

'a'의 위치를 찾아 1을 반환

In [80]:
[ch if ch in 'ABCDE' else 'AaBbCcDdEe'.find(ch) for ch in 'AaBbCcDdEe']

['A', 1, 'B', 3, 'C', 5, 'D', 7, 'E', 9]

'A', 'B', 'C', 'D', 'E' 중 하나면 그 문자 그대로 아니면 해당 문자가 'AaBbCcDdEe'에서 위치를 반환

In [81]:
for k in enumerate('AaBbCcDdEe'):
    print(k)

(0, 'A')
(1, 'a')
(2, 'B')
(3, 'b')
(4, 'C')
(5, 'c')
(6, 'D')
(7, 'd')
(8, 'E')
(9, 'e')

문자열의 각 문자에 인덱스를 붙여 (인덱스, 문자) 튜플 출력

In [82]:
for i, ch in enumerate('AaBbCcDdEe'):
    print(i, ch)

0 A
1 a
2 B
3 b
4 C
5 c
6 D
7 d
8 E
9 e

문자열의 각 문자에 인덱스를 붙여 (인덱스, 문자)출력

In [83]:
num_pairs_sum5 = [(y,x) for x in range(1, 6) for y in range(1, 6) if x+y==5]
print(f'{num_pairs_sum5 = }')

num_pairs_sum5 = [(4, 1), (3, 2), (2, 3), (1, 4)]

x와 y의 자리를 바꾸면 결과도 바꿔서 출력됨.

In [84]:
student_names = ['김홍익', '이컴프리', '박헨션', '최딕선']

students_enumerate = {(id+1):name for id, name in enumerate(student_names)}
print(f'{students_enumerate = }')

students_enumerate = {1: '김홍익', 2: '이컴프리', 3: '박헨션', 4: '최딕선'}

student_names의 이름에 1부터 시작하는 번호를 붙여 딕셔너리로 만들고 출력

**dic과 set 구분**

In [85]:
{'a' : 123}

{'a': 123}

키 'a'와 값 123으로 구성된 딕셔너리 객체

{'a' : 123, 456}는 에러, 딕셔너리 다음에 키가 나와야함. dic으로 인지

{456, 'a' : 123}는 에러, set으로 인지 -> 첫 원소를 보고 dict인지 set인지 확인함.

In [86]:
[(x,y) for x in range (1, 3) for y in ['a', 'b', 'c']]

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

1, 2와 'a', 'b', 'c'의 모든 조합을 출력.

In [87]:
list([(x,y) for x in range (1, 3) for y in ['a', 'b', 'c']])

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

리스트로 감싸 결과 출력.

In [88]:
tuple([(x,y) for x in range (1, 3) for y in ['a', 'b', 'c']])

((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

튜플 안에 여러 개의 (x, y) 튜플이 들어감.

In [89]:
set([(x,y) for x in range (1, 3) for y in ['a', 'b', 'c']])

{(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')}

중복 없는 (x, y)의 set을 생성

In [90]:
dict([(x,y) for x in range (1, 3) for y in ['a', 'b', 'c']])

{1: 'c', 2: 'c'}

딕셔너리가 오류 없이 실행되지만 마지막 키만 남음.